.content-table{
  border-collapse:collapse;
  margin: auto;
  font-size:0.9em;
  min-width:400px;
  background-color:#ffffff;
  text-align:center;
  border-radius:5px 5px 0 0;
  overflow: hidden;
  box-shadow:0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
  background-color:#0489B1;
  color:#ffffff;
  font-weight:bold;
}

.content-table tr, .content-table th{
  padding:12px 15px;
}

.content-table tbody tr td a{
  color:#ffffff;
}

.content-table tbody tr{
  border-bottom:1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
  background-color:#f3f3f3;
}
  
.content-table tbody tr:last-of-type{
  border-bottom:2px solid #0489B1;
}

.content-table tbody tr:hover{
  font-weight:blod;
  color:#0489B1;
}

.formulario{
  position:relative;
  display:inline-block;
  width:950px;
  margin:auto;
  background:transparent;
  padding: 1px 20px;
  box-sizing:border-box;
  border-radius:10px;
  text-align:center;
  overflow: hidden;

}

.text-true{
  font-family: "Open Sans", sans-serif;
  color: rgba(7, 66, 97, 1);
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgba(10, 87, 128, 1);
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background:rgba(144, 184, 205, 1);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;

}
.text-false{
  font-family: "Open Sans", sans-serif;
  color: rgba(145, 29, 29, 1);
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgba(219, 60, 60, 1);
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background:rgba(223, 136, 136, 1);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;

}


::-webkit-input-placeholder { color: black; }

  .formulario input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="time"], input[type="date"], select{
    color: #000000;
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 3px solid  rgba(252,180,10);
    margin: 20px auto;
    background:white;
    box-shadow:5px 5px 5px rgba(21,75,79);
  }

  
  .formulario input[type="submit"] {
    padding: 10px;
    color: #ffffff;
    background: rgb(252,180,10);
    width: 300px;
    margin: 20px auto;
    margin-top: 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background: linear-gradient(to bottom, rgba(252,180,10), rgba(255,230,0));
  }
  
  .formulario hr {
    color: #ffffff;
    width: 40%;
  }
  
/*Responsive*/
  
  @media (max-width:1000px) {
    body{
      text-align:center;
      margin:0;
      margin-top: 24px;
      line-height: 12vh;
    }
    .formulario{
      width:400px;
      transform: scale(1.2); 
      transform:translateY(10px);
    }
    hr{
      width:70%;
    }
  }

.table{
  width: 100%; 
  border-collapse: collapse; 
}

.guardar {
    border: none;
    padding:10px 40px;
    cursor: pointer;
    outline: none;
    background:rgba(79, 103, 159, 0.78);
    color: rgba(240, 245, 255, 0.78);
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}