*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.ContactoBanner{
    width:100%;
    height:100vh;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactoBanner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

section{
    display:flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:20px;
    width: 100%;
    background:transparent;
}

.ContactoContainer{
    position:relative;
    z-index: 1000;
    width:100%;
    max-width: 1000px;
    padding:50px;
    background:rgba(255,255,255,0.1);
    box-shadow:0 25px 45px  rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.25);
    border-right:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.ContactoContainer::before{
    content: "";
    position:absolute;
    top:0;
    left:-40%;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
}

.ContactoContainer h1{
    width:100%;
    text-align: center;
    color:white;
    font-size: 36px;
    margin-bottom: 20px;
}


.ContactoContainer .logo{
    text-align: center;
}

.ContactoContainer .logo img{
    width:10%;
}


.ContactoContainer .formsContacto{
    position:relative;
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.ContactoContainer .formsContacto .col{
    position: relative;
    width:100%;
    padding:0 10px;
    margin:30px 0 20px;   
}

.ContactoContainer .formsContacto .col .inputBox {
    position:relative;
    width:100%;
    height:40px;
    color:white;
}


.ContactoContainer .formsContacto .col .inputBox input, .ContactoContainer .formsContacto .col .inputBox textarea, .ContactoContainer .formsContacto .col .inputBox select{
    position: absolute;
    width:100%;
    height:100%;
    font-size:15px;
    padding:0px 0px;
    z-index: 1;
    color: #000;;

}

.ContactoContainer .formsContacto .col .inputBox .text{
    position: absolute;
    top:-35px;
    left:-10px;
    line-height: 40px;
    font-size: 18px;
    padding:0 10px;
    display:block;
}

.ContactoContainer .formsContacto .col input[type=submit]{
    border: none;
    padding:10px 40px;
    cursor: pointer;
    outline: none;
    background:#fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.text-true{
	color:#00FDFD;
	text-shadow: 7px 7px 7px rgba(54,96,134);
	font-family: 'Bungee', cursive;
}
.text-false{
	color:#FF0000;
	text-shadow: 7px 7px 7px rgba(152,4,4);
	font-family: 'Bungee', cursive;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}
